.icon {
  color: var(--gray-400);
}

.iconButton {
  border: 0;
  background: transparent;
  padding: 0;
  display: grid;
  place-items: center;
  color: var(--gray-400);
  cursor: pointer;

  &:hover {
    color: var(--gray-500);
  }
}

.rememberItem {
  margin-top: 4px;
}

.divider {
  margin-top: 16px !important;
  margin-bottom: 32px !important;
}

.dividerText {
  color: var(--gray-300);
  font-weight: var(--fw-medium);
}

.bottom {
  display: flex;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
}

.bottomText {
  font-family: var(--font-intel);
  color: #6c6c6c;
}

.link {
  font-family: var(--font-intel);
  border: 0;
  background: transparent;
  padding: 0;
  color: var(--color-primary);
  cursor: pointer;
  font-weight: var(--fw-semibold);
  text-decoration: underline;

  &:hover {
    color: var(--color-primary-hover);
  }
}
