.page {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 24px;
  background: var(--gray-100);
}

.cardOuter {
  width: 525px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-shrink: 0;

  border-radius: 40px;
  background: #fff;
  box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04);
}

.cardInner {
  width: 100%;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;

  border-radius: 34px;
  border: 1px solid var(--gray-700);
  background: linear-gradient(180deg, rgba(35, 35, 35, 0.03) 0%, rgba(35, 35, 35, 0) 50%);
}

.logo {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin: 0 auto;

  border: 1px solid rgba(237, 237, 237, 0.7);
  background: linear-gradient(0deg, rgba(35, 35, 35, 0) 50%, rgba(35, 35, 35, 0.06) 100%), #fff;
  box-shadow:
    0 4px 4px rgba(0, 0, 0, 0.25),
    0 0 0 2px #fff,
    0 12px 8px rgba(0, 0, 0, 0.03);

  img {
    width: 35px;
    height: 35px;
    object-fit: contain;
  }
}

.title {
  text-align: center;
  margin-bottom: 12px;
}

.exclamation {
  font-family: var(--font-roboto);
}

.subtitle {
  font-family: var(--font-intel);
  font-weight: var(--fw-medium);
  text-align: center;
  color: var(--gray-400);
  font-size: 18px;
  line-height: 150%;
  margin: 0;
}

/* mobile */
@media (max-width: 560px) {
  .cardOuter {
    width: 100%;
  }

  .cardInner {
    padding: 36px 24px;
  }
}
