.page {
  min-height: 100vh;
}

.topBar {
  background: white;
  padding: 20px 24px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 24px;
  align-items: center;
  border-radius: 10px;
}

.topTitle {
  margin: 0;
  font-family: var(--font-cairo);
  font-weight: var(--fw-bold) !important;
  margin: 0 !important;
}

.search {
  max-width: 1023px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 12px 20px !important;
  background-color: #F3F3F3;

  :where(.ant-input) {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

.content {
  padding: 30px 0;
}

.sectionHeader {
  background: var(--color-surface);
  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  padding: 18px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionTitle {
  font-family: var(--font-cairo);
  font-weight: var(--fw-bold) !important;
  margin: 0 !important;
}

.headerActions {
  display: flex;
  gap: 12px;
  align-items: center;
}
